<body
  class="g-sidenav-show bg-gray-100 g-sidenav-pinned d-flex flex-column min-vh-100"
>
  <aside
    class="sidenav navbar navbar-vertical navbar-expand-sm border-0 border-radius-xl my-3 fixed-start ms-3"
    id="sidenav-main"
    *ngIf="getAuth()"
  >
    <!-- <div class="sidenav-header" [ngbCollapse]="isMenuCollapsed" > -->
    <div class="sidenav-header">
      <i
        class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true"
        id="iconSidenav"
      ></i>
      <a class="navbar-brand m-0" routerLink="/home">
        <!-- <img
        src="../assets/img/logo-ct-dark.png"
        class="navbar-brand-img h-100"
        alt="main_logo"
      /> -->
        <span class="ms-1 font-weight-bold">Car Parts Shop</span>
      </a>
    </div>
    <ul class="nav-item">
      <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
        <a
          href="javascript:void(0)"
          class="closebtn .navbar-toggler"
          onclick="closeNav()"
          >&times;</a
        >
      </li>
      <li class="nav-item" *ngIf="isAdmin()">
        <a class="nav-link" routerLink="/carBrand">
          <svg width="15" height="15">
            <circle
              cx="5"
              cy="5"
              r="2"
              stroke="white"
              stroke-width="4"
              fill="black"
            />
          </svg>

          <span class="nav-link-text ms-1">Car Brands</span>
        </a>
        <a class="nav-link" routerLink="/carModel">
          <svg width="15" height="15">
            <circle
              cx="5"
              cy="5"
              r="2"
              stroke="white"
              stroke-width="4"
              fill="black"
            />
          </svg>
          <span class="nav-link-text ms-1">Car Models</span>
        </a>
        <a class="nav-link" routerLink="/carPart">
          <svg width="15" height="15">
            <circle
              cx="5"
              cy="5"
              r="2"
              stroke="white"
              stroke-width="4"
              fill="black"
            />
          </svg>
          <span class="nav-link-text ms-1">Car Parts</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="isUser()">
        <a class="nav-link" routerLink="/userParts">
          <svg width="15" height="15">
            <circle
              cx="5"
              cy="5"
              r="2"
              stroke="white"
              stroke-width="4"
              fill="black"
            />
          </svg>
          <span class="nav-link-text ms-1">Your Car Parts</span>
        </a>
      </li>
    </ul>
  </aside>
  <main
    class="main-content position-relative max-height-vh-100 h-100 vh-100"
    id="main"
  >
    <nav
      class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-bottom"
    >
      <div class="container-fluid py-1 px-3">
        <div
          class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4"
          id="navbar"
        >
          <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
          <ul class="navbar-nav justify-content-end"></ul>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
          <form class="d-flex" *ngIf="getAuth()">
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav navbar-nav-hover ms-auto">
                <div class="col-auto m-auto"></div>
                <li class="nav-item d-xl-none px-3 d-flex align-items-center">
                  <i class="fa-solid fa-bars clickable" onclick="openNav()"></i>
                </li>
              </ul>
            </div>
            <i class="fa-solid fa-user pe-4" *ngIf="user">
              {{ user.userName }}
            </i>
            <i
              class="fa-solid fa-right-from-bracket clickable"
              (click)="logOut()"
              href="/home"
              >Sign Out</i
            >
            <!-- <button class="btn btn-outline-success" (click)="logOut()">
              LogOut
            </button> -->
          </form>
          <form class="d-flex" *ngIf="!getAuth()">
            <i class="fa-solid fa-user clickable" (click)="login()">Sign In</i>
          </form>
        </div>
      </div>
    </nav>
    <div class="px-4 mt-4">
      <router-outlet> </router-outlet>
    </div>
  </main>
  <script>
    function openNav() {
      document.getElementById("sidenav-main").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
      document.getElementById("sidenav-main").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>
  <footer class="footer text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2)">
      Saityno taikomųjų programų projektavimas 2022
      <a class="text-dark">CarPartsShop</a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
