//$danger: #00ff73;
@import "~bootstrap";

.centravimoze {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
.body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
footer {
  text-align: center;
}
